# .env za VNATRE (RPi5) - SAMO tuka se tajnite!  cp .env.example .env
RFID_SALT_HEX=
MAILGUN_API_KEY=
MAILGUN_DOMAIN=mg.tvojdomen.com
MAILGUN_FROM=Pametna Vrata <mailgun@mg.tvojdomen.com>
MAILGUN_BASE=https://api.eu.mailgun.net
ADMIN_EMAIL=
